.Rick {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1196px;
  gap: 20px;
}

.slay {
  width: 100%;
  padding: 10px;
  background: #f58abb;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 40px;
}

.slay:hover {
  background: #e972a9;
}

.slay:disabled {
  background: #f3c7d9;
  cursor: not-allowed;
}
