* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    max-width: 1360px;
    margin: 0 auto;
}

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 552px;
    margin: 20px 0;
    align-items: center;
}

.header_pages {
    display: flex;
    flex-direction: row;
}

ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

li {
    list-style: none;
    color: #000000;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 16px;
}