@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');

body{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}